<div class="grid">
    <div class="tile offset-1-5">Offset 1/5</div>
</div>
<div class="grid">
    <div class="tile offset-1-4">Offset 1/4</div>
</div>
<div class="grid">
    <div class="tile offset-1-3">Offset 1/3</div>
</div>
<div class="grid">
    <div class="tile offset-2-5">Offset 2/5</div>
</div>
<div class="grid">
    <div class="tile offset-half">Offset Half</div>
</div>
<div class="grid">
    <div class="tile offset-3-5">Offset 3/5</div>
</div>
<div class="grid">
    <div class="tile offset-2-3">Offset 2/3</div>
</div>
<div class="grid">
    <div class="tile offset-3-4">Offset 3/4</div>
</div>
<div class="grid">
    <div class="tile offset-4-5">Offset 4/5</div>
</div>