/*
 *
 * app.sass
 * This is just a boilerplate for documentation
 *
 */

// Import Sirius SASS
@import ../../dist/src/sass/sirius

article > .tile
  text-align: center

.title > .image
  margin: 0 auto .5em

section > .foot
  text-align: center
  a
    text-decoration: none