/*
 *
 * app.sass
 * This is just a boilerplate for documentation
 *
 */

// Import Sirius SASS
@import ../../dist/src/sass/sirius

.home

  article > .tile
    text-align: center

  .title > .image
    margin: 0 auto .5em

  section
    padding: 0 1.5em

  .foot
    text-align: center
    grid-column: span 2
    a
      text-decoration: none