/*
 *
 * Base - General
 *
 */

html
  background-color: $background
  font-size: $font-base
  min-width: 300px

.container
  position: relative
  margin: 0 $gap
  +desktop
    margin: 0 auto
    max-width: $desktop
  +widescreen
    margin: 0 auto
    max-width: $widescreen

.section, section
  background-color: transparent
  padding: $gap
  +mobile
    padding: $gap 0
    & > .container
      margin: 0
  +touch
    padding: $gap 0
  +desktop
    &.medium
      padding: $gap*2 $gap
    &.large
      padding: $gap*3 $gap