<header class="bg-default">
    <div class="body">
        <div class="container">
            <h1 class="title">Default</h1>
        </div>
    </div>
</header>
<header class="bg-primary">
    <div class="body">
        <div class="container">
            <h1 class="title">Primary</h1>
        </div>
    </div>
</header>
<header class="bg-secondary">
    <div class="body">
        <div class="container">
            <h1 class="title">Secondary</h1>
        </div>
    </div>
</header>
<header class="bg-success">
    <div class="body">
        <div class="container">
            <h1 class="title">Success</h1>
        </div>
    </div>
</header>
<header class="bg-alert">
    <div class="body">
        <div class="container">
            <h1 class="title">Alert</h1>
        </div>
    </div>
</header>
<header class="bg-error">
    <div class="body">
        <div class="container">
            <h1 class="title">Error</h1>
        </div>
    </div>
</header>
<header class="bg-light">
    <div class="body">
        <div class="container">
            <h1 class="title">Light</h1>
        </div>
    </div>
</header>
<header class="bg-dark">
    <div class="body">
        <div class="container">
            <h1 class="title">Dark</h1>
        </div>
    </div>
</header>