<header class="bg-default medium">
    <div class="body">
        <div class="container">
            <h1 class="title"> Medium </h1>
        </div>
    </div>
</header>
<header class="bg-secondary large">
    <div class="body">
        <div class="container">
            <h1 class="title"> Large </h1>
        </div>
    </div>
</header>
<header class="bg-primary full">
    <div class="body">
        <div class="container">
            <h1 class="title"> Full Height </h1>
        </div>
    </div>
</header>