<div class="card bg-default gradient">
    <div class="head">
        <h2 class="title">Hello!</h2>
    </div>
    <div class="body">I'm a default card</div>
</div>
<div class="card bg-primary gradient">
    <div class="head">
        <h2 class="title">Hello!</h2>
    </div>
    <div class="body">I'm a primary card</div>
</div>
<div class="card bg-secondary gradient">
    <div class="head">
        <h2 class="title">Hello!</h2>
    </div>
    <div class="body">I'm a secondary card. And I...</div>
</div>
<div class="card bg-success gradient">
    <div class="head">
        <h2 class="title">Hello!</h2>
    </div>
    <div class="body">I'm a success card</div>
</div>
<div class="card bg-alert gradient">
    <div class="head">
        <h2 class="title">Hello!</h2>
    </div>
    <div class="body">I'm a alert card</div>
</div>
<div class="card bg-error gradient">
    <div class="head">
        <h2 class="title">Hello!</h2>
    </div>
    <div class="body">I'm a error card</div>
</div>
<div class="card bg-light gradient">
    <div class="head">
        <h2 class="title">Hello!</h2>
    </div>
    <div class="body">I'm a light card</div>
</div>
<div class="card bg-dark gradient">
    <div class="head">
        <h2 class="title">Hello!</h2>
    </div>
    <div class="body">I'm a dark card. And I...</div>
</div>