<div class="feature card bg-alert">
    <div class="overlay"></div>
    <div class="head">
        <div class="icon"><i class="fa fa-bolt"></i></div>
    </div>
    <div class="body">
        <h2>FAST</h2>
    </div>
</div>
<div class="feature card bg-success">
    <div class="overlay"></div>
    <div class="head">
        <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
    </div>
    <div class="body">
        <h2>CREATIVE</h2>
    </div>
</div>
<div class="feature card bg-secondary">
    <div class="overlay"></div>
    <div class="head">
        <div class="icon"><i class="fa fa-tint"></i></div>
    </div>
    <div class="body">
        <h2>EASY</h2>
    </div>
</div>