<div class="card with-image">
    <figure class="image">
        <img src="#" alt="image">
        <figcaption>
            <div class="body">
                <h1 class="title">I'm an <span>Image Card</span></h1>
            </div>
        </figcaption>
    </figure>
</div>
<div class="card with-image">
    <figure class="image">
        <img src="#" alt="image">
        <figcaption>
            <div class="body">
                <h1 class="title">Me <span>Too</span></h1>
            </div>
            <div class="foot">
                <a class="button transparent light">But I have a Button</a>
            </div>
        </figcaption>
    </figure>
</div>
<div class="card with-image with-effect">
    <figure class="image">
        <img src="#" alt="image">
        <figcaption>
            <div class="body">
                <h1 class="title"><span>Hover</span> Me</h1>
            </div>
            <div class="foot">
                <a class="button transparent light">I have a link too</a>
            </div>
        </figcaption>
    </figure>
</div>