<div class="card with-image">
    <figure class="image">
        <img src="#" alt="image">
        <figcaption>
            <div class="body">
                <h1 class="title">I'm an <span>Image Card</span></h1>
            </div>
        </figcaption>
    </figure>
</div>
<div class="card with-image">
    <figure class="image">
        <img src="#" alt="image">
        <figcaption>
            <div class="body">
                <h1 class="title">I'm an <span>Image Card</span></h1>
            </div>
            <div class="foot">
                <h3 class="subtitle">With a Subtitle</h3>
            </div>
        </figcaption>
    </figure>
</div>
<div class="card with-image">
    <figure class="image">
        <img src="#" alt="image">
        <figcaption>
            <div class="body">
                <h1 class="title">I'm an <span>Image Card</span></h1>
            </div>
            <div class="foot">
                <a class="button transparent light">With a Button</a>
            </div>
        </figcaption>
    </figure>
</div>