/*
 *
 * Layouts - Card
 *
 */

.card
  display: flex
  flex-direction: column
  flex: 1
  align-items: stretch
  background-color: $light
  color: $default
  margin: 0 $gap
  padding: $gap
  border-radius: $border-radius
  overflow: hidden
  cursor: pointer
  +shadow(3)
  .head,
  .foot
    flex-shrink: 0
    padding: $gap
    min-height: 50px
    +mobile
      padding: $gap 0
  .body
    flex-grow: 1
    flex-shrink: 0
    padding: $gap
    line-height: 1.3
    //text-align: justify
    +mobile
      padding: $gap 0
  .title
    margin: 0
  @each $key, $values in $colors
    $color: nth($values, 1)
    $inverse: nth($values, 2)
    &.bg-#{$key}
      background-color: $color
      color: $inverse
      &.gradient
        background-image: linear-gradient(225deg, lighten($color,5%) 0%, $color 71%, darken($color,5%) 100%)

  &.with-image
    padding: 0px
    .image
      backface-visibility: hidden
      overflow: hidden
      img
        position: relative
        display: block
        opacity: 0.85
      figcaption
        position: absolute
        border-radius: $border-radius
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        z-index: 12
        text-transform: uppercase
        & > .head, & > .body, & > .foot
          display: flex
          justify-content: center
          flex-direction: column
          text-align: center
          align-items: center
          color: $light
          text-transform: uppercase
      .title
        color: $light
        font-weight: 300
        font-size: $font-large
        span
          font-weight: bold
      .subtitle, .link
        color: $light
        text-align: center
        font-size: $font-small
        padding: $gap 0
        width: 100%
      .link
        text-decoration: underline

  &.with-image.with-effect-one
    .image
      figcaption
        &:before
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: linear-gradient(rgba($dark,0) 0%, rgba($dark,0.5) 75%)
          content: ''
          opacity: 0
          transform: translate3d(0,50%,0)
          transition: opacity 0.35s, transform 0.35s
      .title
        color: $dark
        transition: transform 0.35s, color 0.35s
        //transform: translate3d(0,-50%,0)
        width: 100%
        margin-top: 25% //remove when foot is present
        &:after
          position: absolute
          bottom: -10px
          left: 70px
          right: 70px
          height: $border-size + 1px
          background: $light
          content: ''
          transition: transform 0.35s
          transform: translate3d(-200%,0,0)
      .subtitle, .link, .button
        opacity: 0
        transform: translate3d(0,10px,0)
        transition: opacity 0.35s, transform 0.35s
      .foot
        padding-top: 0
    &:hover figcaption:before
      opacity: 1
      transform: translate3d(0,0,0)
    &:hover .title
      color: $light
      transform: translate3d(0,-50%,0) translate3d(0,-40px,0)
    &:hover .title:after
      transform: translate3d(0,0,0)
    &:hover .subtitle, &:hover .link, &:hover .button
      opacity: 1
      transform: translate3d(0,0,0)

  &.with-image.with-effect-two
    .image
      img
        transition: opacity 1s, transform 1s
      figcaption
        text-align: left
      .title
        margin-top: 0
        color: $dark
      .subtitle
        display: inline-block
        margin: 0 0 0.25em
        padding: 0.4em 1em
        background: rgba($light, 0.9)
        color: $dark
        transition: opacity 0.35s, transform 0.35s
        transform: translate3d(-360px, 0, 0)
        width: auto
        &:first-child
          transition-delay: 0.15s
        &:nth-of-type(2)
          transition-delay: 0.1s
        &:nth-of-type(3)
          transition-delay: 0.05s
    &:hover img
      opacity: 1
      transform: scale3d(1.1, 1.1, 1)
    &:hover .subtitle
      transform: translate3d(0, 0, 0)

  &.with-image.with-effect-three
    .image
      background-color: $dark
      img
        transition: transform 0.35s
      figcaption
        text-align: left
      .title
        position: absolute
        bottom: 0
        left: 0
        padding: 30px
        transition: transform 0.35s
      .foot
        opacity: 0
        background-color: $dark
        color: $light
        transition: opacity 0.35s, transform 0.35s
        transform: translate3d(0, 100%, 0)
        align-items: flex-start
      .subtitle
        text-align: left
        width: auto
        margin: 0 0 0 20px
    &:hover img
      transform: translate3d(0, -80px, 0)
      border-bottom-left-radius: 0px
      border-bottom-right-radius: 0px
    &:hover .title
      transform: translate3d(0, -100px, 0)
    &:hover .foot
      opacity: 1
      transform: translate3d(0, 0, 0)

  &.with-image.with-effect-four
    .image
      img
        opacity: 0.95
        transition: transform 0.35s
        transform: scale3d(1.05, 1.05, 1)
      figcaption:before
        height: 100%
        background: rgba($light, 0.5)
        content: ''
        transition: transform 0.5s
        transform: scale3d(2.5, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0)
      .title
        position: absolute
        top: 20px
        right: 0
        padding: 30px
        transition: transform 0.35s
      .foot
        position: absolute
        right: 0
        bottom: 0
        margin: 30px
        padding: 0 10px
        border-right: 4px solid $light
        text-align: right
        opacity: 0
        transition: opacity 0.4s
    &:hover img
      opacity: 1
      transform: scale3d(1, 1, 1)
    &:hover figcaption:before
      transform: scale3d(2.5, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0)
    &:hover .foot
      opacity: 1
      transition-delay: 0.1s

  &.with-image.with-effect-five
    .image
      img
        opacity: 1
      figcaption:before
        position: absolute
        top: 0
        right: 20px
        left: 20px
        height: 80px
        background: $light
        content: ''
        transition: opacity 0.35s, transform 0.35s
        transform: translate3d(0, 70px, 0) scale3d(1, 0.05, 1)
        transform-origin: 50% 0
      .title
        color: $dark
        transition: transform 0.35s
      .foot
        padding: 2.25em 0.5em
        font-weight: 600
        font-size: 100%
        line-height: 1.5
        opacity: 0
        transition: opacity 0.35s, transform 0.35s
        transform: translate3d(0, -10px, 0)
      .subtitle
        margin-top: -70px
        color: $dark
    &:hover figcaption:before
      opacity: 0.8
      transform: translate3d(0, 5em, 0) scale3d(1, 1, 1)
    &:hover .foot
      opacity: 1
      transform: translate3d(0, 0, 0)

  &.with-image.with-effect-six
    .image
      img
        opacity: 1
      figcaption:before
        position: absolute
        top: 30px
        right: 30px
        bottom: 30px
        left: 30px
        border: 2px solid $light
        border-radius: $border-radius
        box-shadow: 0 0 0 50px rgba($light, 0.4)
        content: ''
        opacity: 0
        transition: opacity 0.35s, transform 0.35s
        transform: scale3d(1.4, 1.4, 1)
      .foot
        opacity: 0
        transition: opacity 0.35s, transform 0.35s
        transform: scale(1.5)
      .subtitle
        margin-top: -50px
    &:hover figcaption
      background-color: rgba(58, 52, 42, 0.2)
    &:hover figcaption:before
      opacity: 1
      transform: scale3d(1, 1, 1)
    &:hover .foot
      opacity: 1
      transform: scale3d(1, 1, 1)


  &.action
    min-height: 200px
    .image
      backface-visibility: hidden
      overflow: hidden
      img
        position: relative
        display: block
        opacity: 0.85
      figcaption
        position: absolute
        left: 0
        width: 100%
        top: auto
        bottom: 0
        padding: 1em
        height: 3.75em
        background: #fff
        color: #3c4a50
        transition: transform 0.35s
        transform: translate3d(0, 100%, 0)
        text-transform: uppercase
        font-size: 1.25em
      &:hover figcaption
        transform: translate3d(0,0,0)

  &.feature
    background-color: $light
    min-height: 100px
    position: relative
    overflow: hidden
    justify-content: center
    align-items: center
    transition: all 0.3s ease-out
    text-decoration: none
    &:hover
      .overlay
        transform: scale(6) translateZ(0)
      .icon
        border-color: $light
        background-color: $default
        i
          color: $default
        &:after
          background-color: lighten($default,40%)
      .body, .body > h1, .body > h2, .body > h3
        z-index: 1
        color: $light
    .icon
      width: 100px
      height: 100px
      border-radius: 50%
      background: $light
      border: $border-size solid darken($default, 10%)
      display: flex
      justify-content: center
      align-items: center
      position: relative
      z-index: 1
      transition: all 0.3s ease-out
      &:after
        content: ""
        width: 90px
        height: 90px
        display: block
        position: absolute
        background: $default
        border-radius: 50%
        top: 5px
        left: 5px
        transition: opacity 0.3s ease-out
      i
        color: $light
        z-index: 100
        font-size: 40px
        transform: translateZ(0)
    .overlay
      width: 90px
      height: 90px
      border-radius: 50%
      background: $default
      margin: 20px auto
      z-index: 0
      transition: transform 0.3s ease-out
    @each $key, $values in $colors
      $color: nth($values, 1)
      $inverse: nth($values, 2)
      &.bg-#{$key}
        &:hover
          .icon
            border-color: $inverse
            background-color: $color
            i
              color: $color
            &:after
              background-color: lighten($color,40%)
          .body, .body > h1, .body > h2, .body > h3
            color: $inverse !important
        @if($key != 'light')
          .body, .body > h1, .body > h2, .body > h3
            color: $color !important
        .icon
          background: $inverse
          border: $border-size solid darken($color, 10%)
          &:after
            background: $color
          i
            color: $inverse
        .overlay
          background: $color
