<nav>
    <div class="left">
        <a class="item brand" href="#">
            <img class="logo" src="#" alt="Brand Name">
            <div class="name">Brand Name</div>
        </a>
    </div>
    <div class="center">
        <a class="item" href="#">
            <span class="icon"><i class="fa fa-facebook"></i></span>
        </a>
        <a class="item" href="#">
            <span class="icon"><i class="fa fa-instagram"></i></span>
        </a>
    </div>
    <div class="right">
        <span class="toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <a class="item" href="#">Link</a>
        <a class="item" href="#">Link</a>
        <span class="item">
            <a class="button primary" href="#">Button</a>
        </span>
    </div>
</nav>